@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;400;500;600&family=Rye&display=swap');

$deep-purple: #370059;
$violet: #7843E6;
$teal: #56B8B6;
$smoky-black: #121212;
$off-white: #FBF8EF;

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    color: $smoky-black;
    background-color: $off-white;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.portrait {
    border-radius: 75px;
}

.center {
    justify-content: center;
}

.gradient {
    background: rgb(55,0,89);
background: linear-gradient(180deg, rgba(55,0,89,1) 20%, rgba(121,57,200,1) 57%, rgba(86,184,182,1) 92%);
}

.navcolor {
    background-color: #370059;
}

.navbar-item {
    color: $teal;
}

.white {
    color: white;
}

.teal {
    background-color: $teal;
    color: $off-white;
}

.tealtext {
    color: $teal;
}

.dropdown {
    color: $deep-purple;
}

.purple {
    background-color: $violet;
    color: #FBF8EF;
}

.card-footer-item:hover {
    background-color: $teal;
    color:white;
}



